@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 219 13% 13%;
    --card: 0 0% 100%;
    --card-foreground: 222.2 47.4% 11.2%;

    --muted-secondary: 0 0% 0%;

    /* #55acee */
    --bg-twitter: 206 82% 63%;

    --bg-instagram: 5 100% 69%;
  }
}

@layer base {
  body {
    @apply h-full antialiased dark:bg-neutral-950 dark:text-neutral-50;
  }
}
